{% extends "layout.html" %}
{% block body %}
<div id="halfmaptop"></div>
<div class="center">
    <p>
        Double-click to set the bottom left corner, and right click
        (long press on mobile) to set the top right corner. Then click
        submit when you're done to open your new location.
    </p>
    <form method="POST">
        <input type="hidden" id="bEdge" name="bEdge">
        <input type="hidden" id="lEdge" name="lEdge">
        <input type="hidden" id="height" name="height">
        <input type="hidden" id="width" name="width">
        <input type="submit" value="Submit">
    </form>
</div>

<script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/onemapadd.js') }}"></script>
{% endblock %}