{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div id="halfmaptopleft"></div>
    <div id="halfmaptopright"></div>
</div>
<div class="center">
    <p>
        On the right map, double-click to set the bottom left corner, and right
        click (long press on mobile) to set the top right corner. Then double
        click on the left map to set the center of that region. Then click
        submit when you're done to open your new location.
    </p>
    <form method="POST">
        <input type="hidden" id="bEdgeLeft" name="bEdgeLeft">
        <input type="hidden" id="lEdgeLeft" name="lEdgeLeft">
        <input type="hidden" id="bEdgeRight" name="bEdgeRight">
        <input type="hidden" id="lEdgeRight" name="lEdgeRight">
        <input type="hidden" id="height" name="height">
        <input type="hidden" id="width" name="width">
        <input type="submit" value="Submit">
    </form>
</div>

<script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/twomapadd.js') }}"></script>
{% endblock %}