{% extends "layout.html" %}
{% block body %}
<div id="map"></div>

<script>
    // Load these variables from server
    var playRegion = {{ playRegion }};
    var bounds = {{ bounds }};
    var centerPoint = {{ centerPoint }};
    var zoomLevel = {{ zoomLevel }};
    var ballTrails = {{ ballTrails|tojson }};
</script>

<script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/onemap.js') }}"></script>
{% if view %}
<script src="{{ url_for('static', filename='scripts/onemapview.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='scripts/onemapplay.js') }}"></script>
{% endif %}

{% if debug %}
<script src="{{ url_for('static', filename='scripts/onemapdebug.js') }}"></script>
{% endif %}
{% endblock %}