{% extends "layout.html" %}
{% block body %}
<div id="map"></div>

<script>
    var playRegion = [[52.2, 0.1], [52.2, 0.15000000000000002], [52.21, 0.15000000000000002], [52.21, 0.1]];
    var bounds = [[52.2, 0.1], [52.21, 0.15000000000000002]];
    var centerPoint = [52.205000000000005, 0.125];
    var zoomLevel = 13;
    var ballTrails = false;
    var officialGameSelect = '<select id="official" name="game">'
    {% for game in officialGames %}
    officialGameSelect += '<option value="{{ game }}">{{ game }}</option>'
    {% endfor %}
    officialGameSelect += '</select>'

    var allGameSelect = '<select id="unofficial" name="game">'
    {% for game in allGames %}
    allGameSelect += '<option value="{{ game }}">{{ game }}</option>'
    {% endfor %}
    allGameSelect += '</select>'
</script>

<script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
{% endblock %}