{% extends "layout.html" %}
{% block body %}
<div class="center">
    <p>
        Change any of the values you want, and then click submit.
        You will be redirected to your new game - just share that url
        with your friends so they can come join you.
    </p>
    <form method="POST">
        <label for="time">Edge-To-Edge Time in s</label>
        <input type="text" id="time" name="time" placeholder="300"><br>
        <label for="updateFrequency">Backend Update Frequency</label>
        <input type="text" id="updateFrequency" name="updateFrequency" placeholder="10"><br>
        <label for="score">Score to win</label>
        <input type="text" id="score" name="score" placeholder="10"><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}