{% extends "layout.html" %}
{% block body %}
<div id="halfmapleft"></div><div id="halfmapright"></div>

<script>
    // Load these variables from server
    var playRegionLeft = {{ playRegionLeft }};
    var playRegionRight = {{ playRegionRight }};
    var boundsLeft = {{ boundsLeft }};
    var boundsRight = {{ boundsRight }};
    var centerPointLeft = {{ centerPointLeft }};
    var centerPointRight = {{ centerPointRight }};
    var leftYScaling = {{ leftYScaling }};
    var zoomLevel = {{ zoomLevel }};
    var ballTrails = {{ ballTrails|tojson }};
</script>

<script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/twomaps.js') }}"></script>
{% if view %}
<script src="{{ url_for('static', filename='scripts/twomapsview.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='scripts/twomapsplay.js') }}"></script>
{% endif %}

{% if debug %}
<script src="{{ url_for('static', filename='scripts/twomapsdebug.js') }}"></script>
{% endif %}
{% endblock %}