body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.center {
    text-align: center;
}
.container {
    height: 80%;
    width: 100vw;
    margin: auto;
}
#halfmaptop {
    height: 80%;
    width: 100vw;
}
#halfmaptopleft {
    height: 80%;
    width: 50vw;
    position: absolute;
    left: 0px;
}
#halfmaptopright {
    height: 80%;
    width: 50vw;
    position: absolute;
    right: 0px;
}
#halfmapleft {
    height: 100%;
    width: 50vw;
    position: absolute;
    left: 0px;
}
#halfmapright {
    height: 100%;
    width: 50vw;
    position: absolute;
    right: 0px;
}